[Unit]
Description=Frp Server Service
After=network.target

[Service]
Type=simple
User=nobody
Restart=on-failure
RestartSec=5s
ExecStart=/var/frps/frps -c /var/frps/frps.ini

[Install]
WantedBy=multi-user.target
